<!DOCTYPE html>
<html>
<head>
    @System.Web.Optimization.Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Scripts/Script.js")
    <meta name="viewport" content="width=device-width" />
    <title>Запись к стоматологу</title>
    <link rel="shortcut icon" href="~/Content/e34dc87810c5c4a263288d6f7ddb56ad.jpg" type="image/x-icon">
</head>
<body>
    <div class="Message">
        Неправильный пароль
    </div>
</body>
</html>